

<head>
    <style>
    h1{
        margin-top:0;
    }
    </style>
    <script>
    var pics = ["flower bouquet", "braid", "garden"];
    var i =0;
      setInterval(function(){

          $(".home").removeClass(pics[i % 3]).addClass(pics[(i+1)% 3]);

          $(".item").html("");
          var word = pics[(i+1)% 3];
          var j = 0;
          setInterval(function(){
              $(".item").append(word[j]);
              j++;
          }, 100);

          i++;

      }, 2000);
    </script>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59233651-1', 'auto');
        ga('send', 'pageview');

      </script>

</head>
<body>
<main class="home">

    <h1 class="make">Let's make a </h1><h3 class="item"></h3>









</main>

<footer>
  This is my first full stack project.    Its'a clone of <a href="http://www.instructables.com">instructables</a>.
</footer>
</body>

