
<head>
  <style>
    form.nested-comments{
        width:700px;
        min-height:500px;
        background: rgb(241, 246, 245);
        margin:auto;
      padding: 5px 10px;
      border: 1px solid lightblue;

    label{
      display: block;
      size: 24px;
      font-weight: bold;
      margin: auto;
  }
  </style>
</head>
<body>
  <form class="nested-comments" action="<%= comment_comments_url(@parent_comment) %>" method="post">

  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" />

  <label for="comment_body">
    Reply
  <input
    type="text"
    name="comment[body]"

    id="comment_body">
  </label>
    <br>



   <input class="reply-button" type="submit" value="Submit">


</form>
</body>