<h1><%= channel.escape("title") %></h1>

<h3>Posts</h3>
<ul>
  <% posts.each(function(post){ %>


    <% if(post.get("channel_id") === channel.id){ %>

     <li><a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a></li>

  <% } %>


  <% }); %>
</ul>