<h3>New Comment</h3>
<form>
  <input type="hidden"
         name="comment[post_id]"
         value="<%= post.escape("id") %>">

  <label>
    Comment Content
    <textarea name="comment[body]"></textarea>
  </label>

  <input type="submit">
</form>

