
<head>

</head>

<body>


<main class="all-posts photo-grid">
<ul class="group">
  <% posts.sort().each(function(post){ %>
    <li>
    <a href="#/posts/<%= post.id %>"><%= post.escape("title") %>  Score: <%=post.escape("score")%>)




    <img src="<%= post.get("photo_url") %>">

    </a>




    </li>


  <% }); %>


</ul>
</main>


</body>