<head>
  <style>

  </style>
</head>

<body>

<main class="post-article other user-profile">
<nav class="user">
 <h1>Update Your Profile</h1>
</nav>

<%= render 'form', user: @user, action: :edit %>
</main>


</body>