<head>
  <style>

  </style>
</head>

<body>
  <main class="edit-user">
<header>
<h1>Edit Profile</h1>
</header>
<%= render 'form', user: @user, action: :edit %>
</main>

<footer>
  This is my first full stack project.    Its'a clone of <a href="http://www.instructables.com">instructables</a>.     <a href="" >More about me</a>.
</footer>
</body>