<head>
  <style>

  form.edit-user{


      margin:auto;
      margin-top: 20px;
      padding: 50px 100px;
      background:#F0EDEB;
      width:60%;
      height: 60%;
  }
form.edit-user label{
    color: black;
    font-size:20px;
}


  </style>
</head>

<body>

<main class="post-article other user-profile">
<nav class="user">
 <h1>Update Your Profile</h1>
</nav>

<%= render 'form', user: @user, action: :edit %>
</main>


</body>