  <head>
    <style>

    </style>
  </head>

  <body>


    <nav class="message">
      <a href="<%= messages_url %>">Back To Inbox</a>
    </nav>

    <main class="blocked">
  <h1>Blocked Users:</h1>

  <ul class="group">
  <% @users.each do |u| %>
    <% if Blockrecord.where(sender_id: u.id, receiver_id: current_user.id ).count > 0 %>
      <li><h4><%= u.username %></h4></li>

    <% end %>
  <% end %>
  </ul>
  </main>

 <footer>
    <h4>Do It Yourself, Make It Unique!</h4>
</footer>

  </body>