  <h1>Blocked Users:</h1>

  <% @users.each do |u| %>
    <% if Blockrecord.where(sender_id: u.id, receiver_id: current_user.id ).count > 0 %>
      <%= u.username %>
    <br>
    <% end %>
  <% end %>