<head>
  <style>



  </style>
</head>
<body>


<main >

    <header>
  <h1>Sign Up</h1>
  </header>
<%= render 'form', user: @user, action: :new %>
</main>
<footer>
  This is my first full stack project.    Its'a clone of <a href="http://www.instructables.com">instructables</a>.
</footer>
</body>