<head>
 <style>

 nav.user >h1{
     font-weight:normal;
     vertical-align: center;
     font-size: 20px;
 }

 .post-pic{
     width:100px;
     height: 100px;
 }

 .collect-posts{
     margin:auto;
     padding: 30px;
 }

 .collect-posts > li{
     padding: 20px;
     border-top: 1px solid lightgrey;
 }

.collect-posts > li > div{
    float: left;
    display: inline-block;
}
 .collect-posts > li > a{
     display: inline-block;
     float: left;
     padding-top: 35px;
     padding-left: 30px;
     color: #086A87;
     font-weight: bold;
 }

 </style>

</head>

<body>
<main class="post-article other user-profile">
<nav class="user">
 <h1>Collection</h1>
</nav>


<ul class="group collect-posts">
<% @collects.each do |co| %>


   <li class="group" >
            <div class='post-pic'><%= image_tag co.post.photo.url(:medium) %></div>
            <a href="/#/posts/<%= co.post.id %>"><%= co.post.title %></a>
    </li>


<% end %>
</ul>
</main>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>
</body>