<head>
 <style>

 nav.user >h1{
     font-weight:normal;
     vertical-align: center;
     font-size: 20px;
 }




 </style>

</head>

<body>
<main class="post-article other user-profile">
<nav class="user">
 <h1>Collection</h1>
</nav>


<ul class="group">
<% @collects.each do |co| %>
   <li><a href="<%= post_url(co.post) %>"><%= co.post.title %></a></li>
<% end %>
</ul>
</main>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>
</body>