<head>
  <style>


  ul{
    float:right;
  }


  main >ul >li> a{
    display:block;
    font-weight: bold;
    margin-top:20px;
    padding-right: 300px;
    font-size: 24px;
    color:white;
  }

  main >ul >li> a:hover{
      cursor:pointer;
      color:white;
      text-decoration:none;
  }

  h3{
    font-weight:bold

  }


  nav.home{
      // position:absolute;
//       left: 50%;
//       top:10%;
    width: 700px;
    height: auto;
    margin:auto;
    background: transparent;
  padding: 0;
  border: 0;
  }

  form#search-form{
      margin-top:10px;
      height:auto;
      padding:10px;
      background: transparent;
  }

  form#search-form>a {
      color: white;
      font-weight:bold;
      font-size: 30px;
  }

  form#search-form > a :hover{
      cursor:pointer;
      color:white;
  }
  form#search-form>label{
      color:white;
      font-weight: bold;
      background: transparent;
      font-size:30px;
  }

  .glyphicon{
      color: white;
  }
  </style>

  <script>
  var pics = ["flower", "braid", "garden"];
  var i =0;
    setInterval(function(){

        $(".home").removeClass(pics[i % 3]).addClass(pics[(i+1)% 3]);

        $(".item").html("");
        var word = pics[(i+1)% 3];
        var j = 0;
        setInterval(function(){
            $(".item").append(word[j]);
            j++;
        }, 100);

        i++;

    }, 2000);
  </script>

</head>


<body>



<main class="home">
<nav class="home">
  <form id="search-form" action="/posts" method="get">


    <label for="search_tag">

    <input
      type="text"
      name="post[search]"

      id="post_search">
    </label>

    <a><input type="submit"  value="Search"><span class="glyphicon glyphicon-search"></span></a>
  </form>
</nav>
    <h1 class="make">Let's make </h1><h3 class="item"></h3>


  <ul class="group posts-home">
  <% subs.each(function(sub){  %>

    <li><a href="#/subs/<%= sub.id %>"><%= sub.escape("title") %></a>

    </li>
 <% }); %>
</ul>




<ul>
  <% posts.length %>

</ul>

</main>

    <footer>
      This is my first full stack project.    Its'a clone of <a href="http://www.instructables.com">instructables</a>.
    </footer>
</body>
