<head>
  <style>
  ul{
    float:right;
  }
  main{
    padding: 0 20px 20px 20px;

  }

  main >ul >li> a{
    display:block;
    font-weight: bold;
    margin-top:50px;
    padding-right: 300px;
    font-size: 24px;
  }

  a{
   font-size: 24px
  }

  h3{
    font-weight:bold

  }

  nav.home{
    width: 700px;
    height: 60px;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  main.home{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;

  }



  </style>

</head>


<body>

<nav class="home">
  <form action="/posts" method="get">


    <label for="search_tag">
      Let's Make
    <input
      type="text"
      name="post[search]"

      id="post_search">
    </label>

    <a><input type="submit" value="Go!"></a>
  </form>
</nav>

<main class="home">
  <ul class="group">
  <% subs.each(function(sub){  %>

    <li><a href="#/subs/<%= sub.id %>"><%= sub.escape("title") %></a>

    </li>
 <% }); %>
</ul>
</main>

<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>
</body>
