<head>




</head>

<body>



<main class="posts-sub photo-grid">
<ul class="group">
  <% posts.each(function(post){ %>


    <% if(post.get("sub_id") === sub.id){ %>

     <li ><a href="#/posts/<%= post.id %>"><%= post.escape("title") %><img src="<%= post.get("photo_url") %>"></a>


     </li>

  <% } %>


  <% }) %>
</ul>

</main>


</body>

