<head>




</head>

<body>



<main class="posts-sub photo-grid">
<ul class="group">
  <% posts.each(function(post){ %>


    <% if(post.get("sub_id") === sub.id){ %>

     <li ><a href="#/posts/<%= post.id %>">
        <div class='post-pic'><img class='post-img' src="<%= post.get("photo_url") %>"></div>
        <div class='post-info'><%= post.escape("title") %></div>
        <div class='post-score'>Score: <%= post.escape("score")%></div>

        </a>
     </li>

  <% } %>


  <% }) %>
</ul>

</main>


</body>

