<h1>Subforum List</h1>
<br>
<ul>
<% @subs.each do |sub| %>
 <li><%= link_to sub.title, subs_url(sub)  %>
   <%= button_to "Delete Subforum", subs_url, method: :delete %>
 </li>
<% end  %>
<ul>
<br>
<% link_to "Create Subforum", new_sub_url %>
   