<h4>Do It Yourself, Make It Unique!</h4>
<h1>Subforum List</h1>

<br>
<ul>
<% @subs.each do |sub| %>
 <li><%= link_to sub.title, sub_url(sub)  %>
   <%= button_to "Delete Subforum", sub_url(sub), method: :delete %>
 </li>
<% end  %>
<ul>
<br>
<%= link_to "Create Subforum", new_sub_url %>
   