
<head>
  <style>
  ul{
    float:right;
  }
  main{
    padding: 0 20px 20px 20px;

  }

  main >ul >li> a{
    display:block;
    font-weight: bold;
    margin-top:50px;
    padding-right: 300px;
    font-size: 24px;
  }

  a{
   font-size: 24px
  }

  h3{
    font-weight:bold

  }

  nav.home{
    width: 700px;
    height: 60px;
    margin:auto;
    background: rgb(228, 234, 233);
  padding: 5px 10px;
  border: 1px solid lightblue;
  }

  main.home{
    width:700px;
    min-height:500px;
    background: rgb(241, 246, 245);
    margin:auto;
  padding: 5px 10px;
  border: 1px solid lightblue;

  }



  </style>

</head>
<body>
<nav class="home">
  <h1>Do It Yourself, Make It Unique!</h1>
</nav>

<main class="home">

  <form action="<%= posts_url %>" method="get">
    <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>" />

    <label for="search_tag">
      Let's Make
    <input
      type="text"
      name="post[search]"

      id="post_search">
    </label>

    <input type="submit" value="Go!">
  </form>

  <ul class="group">
  <% @subs.each do |sub| %>
   <li><%= link_to sub.title, sub_url(sub)  %>

   </li>
  <% end  %>
</ul>
</main>
<footer>
  <li><h4>Do It Yourself, Make It Unique!</h4></li>
</footer>

</body>




