


<body>
<nav>
  <ul class="navbar">
  <li><h1>Category: <%= @sub.title %></h1></li>
  <li><h2>Created By: <%= @sub.manager.username %></h2></li>
  </ul>
</nav>
<br>

<ul class="group">
  <% @sub.posts.each do |post| %>
   <li><%= link_to post.title, post_url(post) %></li>
   <br>
 <% end %>
</ul>

<br>
<ul>
  <% @sub.channels.each do |channel| %>
    <li><%= link_to channel.title, channel_url(channel) %></li>
  <% end %>
</ul>


<footer>


<br>
<br>

</footer>
</body>