<head>
  <style>

  body{
    padding: 20px;
  }

  .posts > ul{
    float: right;
  }

  .posts > ul > li > a{
    display: block;
    float: left;
  }


  </style>
</head>


<body>
<nav>

  <h1>Subforum: <%= @sub.title %></h1>


</nav>
<br>

<ul class="posts group">
  <h3>Posts</h3>
  <% @sub.posts.each do |post| %>
   <li><%= link_to post.title, post_url(post) %>
     <%= image_tag post.photo.url(:thumb) %>
   </li>
   <br>
 <% end %>
</ul>

<br>
<ul>
  <h3>Channels</h3>
  <% @sub.channels.each do |channel| %>
    <li><%= link_to channel.title, channel_url(channel) %></li>
  <% end %>
</ul>


<footer>




</footer>
</body>