


<body>
<nav>
  <ul class="navbar">
  <li><h1>Category: <%= @sub.title %></h1></li>

  </ul>
</nav>
<br>

<ul class="group">
  <h3>Instructables</h3>
  <% @sub.posts.each do |post| %>
   <li><%= link_to post.title, post_url(post) %>
     <%= image_tag post.photo.url(:thumb) %>
   </li>
   <br>
 <% end %>
</ul>

<br>
<ul>
  <h3>Channels</h3>
  <% @sub.channels.each do |channel| %>
    <li><%= link_to channel.title, channel_url(channel) %></li>
  <% end %>
</ul>


<footer>


<br>
<br>

</footer>
</body>